# Operacje na danych i struktura zapytań SQL

_Mikołaj Leszczuk_

## Konspekt

* Język SQL
* Schemat (diagram) bazy danych
* Wybieranie rekordów – operacja `SELECT`
* Usuwanie rekordów – operacja `DELETE`
* Dodawanie rekordów – operacja `INSERT`
* Zmiana rekordów – operacja `UPDATE`
* Warunki rozbudowane – operacja `SELECT ... WHERE`
* Klauzula `LIMIT`
* Funkcje grupujące
* Klauzula `DISTINCT`
* Klauzula `GROUP BY`
* Tworzenie i usuwanie tabeli w bazie danych
* Bezpieczeństwo

## Język SQL

**Język SQL** to strukturalny język zapytań (ang. _Structured Query Language_ wym. /ɛskjuːˈɛl/).

Jest to bardzo powszechny i standaryzowany język dostępu do systemów zarządzania relacyjnymi bazami danych.

Służy do tworzenia i modyfikowania baz danych oraz do pobierania i zapisywania danych z i do bazy.

Decyzję o sposobie przechowywania i pobrania danych pozostawia się **systemowi zarządzania bazą danych** (ang. _Database Management System_, DBMS).

### Historia

SQL został opracowany w latach 70. w firmie **IBM**. Stał się **standardem** w komunikacji z **serwerami** relacyjnych **baz danych**.

![](https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg)

Wiele współczesnych systemów relacyjnych baz danych używa do komunikacji z użytkownikiem SQL, dlatego potocznie mówi się, że korzystanie z relacyjnych baz danych to korzystanie z SQL-a.

Pierwszą firmą, która włączyła SQL do swojego produktu komercyjnego, był **Oracle**.

![](https://upload.wikimedia.org/wikipedia/commons/5/50/Oracle_logo.svg)

Dalsze wprowadzanie SQL-a, w produktach innych firm, wiązało się nierozłącznie z wprowadzaniem modyfikacji pierwotnego języka. 

Wkrótce utrzymanie dalszej jednolitości języka wymagało wprowadzenia standardu.

Pierwotną nazwą języka miał być **_SEQUEL_**, jednakże okazało się, że nazwa ta była już zastrzeżona przez brytyjską wytwórnię lotniczą **Hawker Siddeley**.

![](https://upload.wikimedia.org/wikipedia/en/6/69/Hawker_Siddeley.png)

**SQL** rozpoznawany jest przez wszystkie najpopularniejsze DBMS takie jak np. SQLite, MySQL, PostgreSQL, Microsoft SQL Server, Oracle, DB2.

Język SQL w przeciwieństwie do języków programowania nie służy do tworzenia programów, ale tylko do operacji na danych zawartych w bazie. Jest więc nazywany pod-językiem danych.

### Składnia SQL

Użycie SQL, zgodnie z jego nazwą, polega na zadawaniu zapytań (query) do bazy danych i przekazywaniu użytkownikowi żądanych danych. Zapytania można zaliczyć do jednego z czterech głównych podzbiorów:

* **SQL DML** (ang. _Data Manipulation Language_ – „język manipulacji danymi”),
* **SQL DDL** (ang. _Data Definition Language_ – „język definicji danych”),
* **SQL DCL** (ang. _Data Control Language_ – „język kontroli nad danymi”).
* **SQL DQL** (ang. _Data Query Language_ – „język definiowania zapytań”).

Instrukcje SQL w obrębie zapytań tradycyjnie zapisywane są wielkimi literami, jednak nie jest to wymóg. Każde zapytanie w SQL-u musi kończyć się znakiem średnika (`;`).

Dodatkowo, niektóre programy do łączenia się z silnikiem bazy danych (np. **`psql`** w przypadku PostgreSQL), używają swoich własnych instrukcji, spoza standardu SQL, które służą np. do połączenia się z bazą, wyświetlenia dokumentacji itp.

![](https://wikimedia.org/api/rest_v1/media/math/render/svg/b83ad563285f7b0ebb325226d91f25ca0bffa7cd)

### Dobre zwyczaje w posługiwaniu się językiem SQL i bazami danych

![](https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Good_Manners.JPG/329px-Good_Manners.JPG)

Na początku pracy z bazą danych oraz językiem, warto wybrać sposób w jaki będzie się zapisywać nazwy tabeli, zapytania, warunki itd.

Zasady przyjęte w tym kursie to m.in.:

* nazwy tabeli zapisywane są z wielkiej litery (w zapytaniach z małej) oraz składają się tylko z liter i znaku “`_`”
* słowa kluczowe w zapytaniach są pisane wielkimi literami w odróżnieniu od np. nazw kolumn czy warunków

Szczególnie drugi z powyższych przykładów jest dobrym zwyczajem w pisaniu zapytań przestrzeganym przez większość osób posługujących się SQL-em.

Warto już na początku wypracować pewne nawyki, aby później móc z automatyzmem i łatwością odczytywać swoje zapytania i tworzyć nowe.

### SQLite

![](https://upload.wikimedia.org/wikipedia/commons/3/38/SQLite370.svg)

**SQLite** – **DBMS** oraz **biblioteka C implementująca** taki system, obsługująca język **SQL**. Została stworzona przez **Richarda Hippa** i jest dostępna na **licencji public domain**. Projekt został rozpoczęty w roku 2000.

SQLite posiada również **API** do innych niż C **języków programowania**, a mianowicie: **ActionScript**, **Perl**, **PHP**, **Ruby**, **C++**, **Delphi**, **Python**, **Java**, **Tcl**, **Visual Basic**, platformy **.NET** i wielu innych; a także interfejs **powłokowy**.

Zawartość bazy danych przetrzymywana jest w jednym **pliku** (do 140 **TB**).

### MySQL

![](https://upload.wikimedia.org/wikipedia/en/d/dd/MySQL_logo.svg)

**MySQL (maɪɛskjuːˈɛl) – wolnodostępny, otwartoźródłowy system zarządzania relacyjnymi bazami danych.**

MySQL rozwijany jest przez firmę **Oracle**. Wcześniej przez większość czasu jego tworzeniem zajmowała się **szwedzka** firma **MySQL AB**. MySQL AB została kupiona 16 stycznia 2008 roku przez **Sun Microsystems**, a ten 27 stycznia 2010 roku przez Oracle. W międzyczasie Monty Widenius (współtwórca MySQL) stworzył **MariaDB – forka** (alternatywną wersję) opartego na licencji GPL. MariaDB jest oparta na tym samym kodzie bazowym co MySQL i dąży do utrzymania kompatybilności z jej poprzednimi wersjami.

### PostgreSQL

![](https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg)

**PostgreSQL** (/poːst ɡɹɛs kjuː ɛl/), także **Postgres** – obok **MySQL** i **SQLite**, jeden z trzech najpopularniejszych **otwartych** systemów zarządzania **relacyjnymi bazami danych**. Początkowo opracowywany na **Uniwersytecie Kalifornijskim w Berkeley** i opublikowany pod nazwą Ingres. W miarę rozwoju i zwiększania funkcjonalności, **baza danych** otrzymała nazwy Postgres95 i ostatecznie PostgreSQL, aby upamiętnić pierwowzór oraz zaznaczyć zgodność ze **standardem SQL**. Aktualnie baza implementuje większość standardu SQL:2011.

Większość dystrybucji Linuksa zawiera pakiety umożliwiające instalację bazy PostgreSQL. **MacOS**, od wersji Lion, posiada pakiety instalacyjne bazy w wersji serwerowej systemu operacyjnego oraz narzędzia klienckie w wersji desktopowej.

### Bezpieczeństwo

Ponieważ SQL jest językiem interpretowanym, istnieje możliwość nadużyć w przypadku konstruowania zapytań z wykorzystaniem parametrów pochodzących z zewnątrz aplikacji. 

Szczególnie podatne na ten typ ataku są tworzone dynamicznie w oparciu o SQL-ową bazę danych serwisy internetowe. 

Jeśli twórca aplikacji nie zadba o sprawdzenie poprawności (tzw. **walidację**) danych wejściowych stanowiących część zapytania, atakujący może dopisać do zapytania („wstrzyknąć”) dodatkowe komendy lub zmienić ich sposób działania. 

Atak taki nosi nazwę **SQL injection** (wstrzyknięcie kodu za pomocą SQL).

## Schemat (diagram) bazy danych

W celu przygotowania przykładów oraz zadań stworzona została prosta baza danych na wzór biblioteki (`simple_library.db`), która jest doskonałym przykładem użytecznego wykorzystania bazy w aplikacji.

Składa się ona z 1 tabeli (`simple_library`), w których zapisane są:

| ID | Title                              | Author_surname | Author_name | Registration_date |
|:--:|:----------------------------------:|:--------------:|:-----------:|:-----------------:|
|1   |Solaris                             |Lem             |Stanisław    |2002-01-30         |
|2   |Solaris                             |Lem             |Stanisław    |1986-03-25         |
|... |...                                 |...             |...          |...                |
|20  |Cyberiada                           |Lem             |Stanisław    |2007-04-29         |
|... |...                                 |...             |...          |...                |
|314 |Ferdydurke                          |Gombrowicz      |Witold       |1980-08-19         |
|... |...                                 |...             |...          |...                |
|636 |Rękopis znaleziony w smoczej jaskini|Sapkowski       |Andrzej      |1986-09-15         |

In [ ]:
!cp simple_library_original.db simple_library.db
%load_ext sql
%sql sqlite:///simple_library.db?mode=rw

## Wybieranie rekordów – operacja `SELECT`

Zapytanie `SELECT` służy do wybierania z bazy danych żądanych rekordów. Jest ono podstawowym i najbardziej rozbudowanym poleceniem języka SQL gdyż często potrzebujemy zaprezentować dane w odpowiedni sposób oraz pobrać je w zależności od innych parametrów. Zapytanie składa się z:

* instrukcji `SELECT` oznaczającej chęć wybrania danych z bazy
* nazw kolumn oddzielonych przecinkami znajdujących się w tabeli (`*` - wszystkie)
* części `FROM` w której podajemy nazwę tabeli

```sqlite
SELECT Kolumna1, Kolumna2, ... FROM tabela;
```

```sqlite
SELECT * FROM tabela;
```

Musimy uważać, aby wybierane kolumny istniały w tabeli oraz aby zachować pożądaną kolejność, gdyż kolumny danych będą zwrócone zgodnie z podaną kolejnością.

> **Przykład:**
>
> Wybieramy z tabeli wszystkie kolumny.

In [ ]:
%%sql
SELECT * FROM simple_library;

> **Przykład:**
> 
> Wybieramy z tabeli wszystkich identyfikatory, tytuły i nazwiska.

In [ ]:
%%sql
SELECT ID, Title, Author_surname FROM simple_library;

Zapytanie `SELECT .. ORDER BY` jest używane do posortowania wybranych danych. Sortowanie odbywa się według wartości podanej kolumny (kolumn). Możemy sortować rosnąco co oznaczamy słowem kluczowym `ASC` (ascend) lub malejąco co oznaczamy słowem `DESC` (descend).

```sqlite
SELECT Kolumna1, Kolumna2, ... FROM tabela ORDER BY Kolumna3 DESC;
```

Sortować można również według kolumn nie wybieranych w danym zapytaniu a tylko znajdujących się w tabeli.

> **Przykład:**
> 
> Wybieramy z tabeli identyfikator, tytuł i datę rejestracji książki posortowane malejąco według daty rejestracji.

In [ ]:
%%sql
SELECT ID, Title, Registration_date FROM simple_library ORDER BY Registration_date DESC;

Zapytanie `SELECT .. WHERE` stosowane jest gdy chcemy wybrać rekordy z tabeli według podanych kryteriów. Wynikiem będą tylko te, które spełniają warunek (warunki) postawiony zaraz po klauzuli `WHERE`.

```sqlite
SELECT Kolumna1, ... FROM tabela WHERE kolumna = 'wartość';
```

Warunki logiczne mogą składać się z operatorów takich jak:

* znak równości (`=`, ew. `==`)
* negacja (`!=`)
* znak mniejszości (`<`) lub (`<=`)
* znak większości (`>`) lub (`>=`)

> Przykład
>
> Wybieramy z tabeli identyfikatory i tytuły książek o identyfikatorze równym '10'.

In [ ]:
%%sql
SELECT ID, Title FROM simple_library WHERE ID = '10';

## Usuwanie rekordów – operacja `DELETE`

Zapytanie `DELETE` służy do usuwania z bazy danych rekordów spełniających podane warunki. Jest to polecenie bardzo proste i niezbędne podczas pracy z bazą. Zapytanie składa się z:

* instrukcji `DELETE` oznaczającej zapytanie usuwające
* części `FROM` w której podajemy nazwę tabeli
* warunku `WHERE` w którym podajemy kryteria które musi spełniać rekord aby został usunięty

```sqlite
DELETE FROM tabela WHERE warunek;
```

Przy usuwaniu rekordów musimy zwrócić szczególną uwagę na klauzulę warunkową. Musi być ona poprawna i uwzględniać tylko te rekordy które faktycznie chcemy usunąć.

> Przykład
> 
> Usuwamy z tabeli wszystkie książki o tytule 'Solaris'.

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Title = 'Solaris';

In [ ]:
%%sql
DELETE FROM simple_library WHERE Title = 'Solaris';

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Title = 'Solaris';

In [ ]:
!cp simple_library_original.db simple_library.db

## Dodawanie rekordów – operacja `INSERT`

Zapytanie `INSERT` służy do dodawanie do tabeli nowych rekordów zawierających w odpowiednich kolumnach podane wartości. Zapytanie składa się z:

* instrukcji `INSERT` która oznacza rozpoczęcie operacji wstawiania
* części `INTO` w której podajemy nazwę tabeli
* słowa kluczowego `VALUES`
* listy wartości odpowiadających kolejnym kolumnom

```sqlite
INSERT INTO tabela VALUES (wartość1, wartość2, ...);
```

Możliwa jest również druga forma zapytania `INSERT` w której możemy określić, które kolumny chcemy wypełnić podanymi przez nas wartościami. Wartości przekazane po słowie `VALUES` zostaną wstawione do odpowiadających im kolejno kolumn. Ma ona postać:

```sqlite
INSERT INTO tabela (kolumna1, kolumna2 , ...)
VALUES (wartość1, wartość2, ...);
```

> Przykład
> 
> Dodajemy do tabeli nową książkę: 'Lalka' Bolesława Prusa, zarejestrowana 1 stycznia 1890 roku, identyfikator: 1000.

In [ ]:
%%sql
INSERT INTO simple_library VALUES (1000, 'Lalka', 'Prus', 'Bolesław', '1890-01-01');

In [ ]:
%%sql
SELECT * FROM simple_library;

In [ ]:
!cp simple_library_original.db simple_library.db

## Zmiana rekordów – operacja `UPDATE`

Polecenia `UPDATE` służy do zmiany wartości w istniejących już rekordach w tabeli.

Zapytanie składa się z :

* instrukcji `UPDATE` która oznacza rozpoczęcie operacji zmiany
* nazwy tabeli
* słowa kluczowego `SET`
* listy z przypisaniem kolumna=wartość w której kolumnom przypisywane są ich nowe wartości
* warunku `WHERE` który określa który rekord zostanie zmieniony

```sqlite
UPDATE tabela SET kolumna1 = wartość1, kolumna2 = wartość2, ...
WHERE kolumna = wartość;
```

## Warunki rozbudowane – operacja `SELECT ... WHERE`

W kursie początkującym poznaliśmy już zapytanie `SELECT` oraz jego rozszerzenie o klauzulę `WHERE`. Tutaj, postaramy się rozszerzyć naszą wiedzę o inne operatory porównania używane w tej klauzuli.

### Operatory `AND`, `OR`, `NOT`

Dzięki nim możemy stworzyć złożone warunki logiczne. Są to odpowiedniki matematycznej koniunkcji, alternatywy i negacji.

* `AND`	– oba warunki muszą być spełnione
* `OR`	– wystarczy, że jeden będzie spełniony
* `NOT`	– negacja warunku

```sqlite
SELECT Kolumna1, Kolumna2, ...
FROM tabela
WHERE
NOT Kolumna1 = wartość
AND Kolumna2 = wartość
OR Kolumna3 = wartość;
```

Możliwe jest również używanie nawiasów w warunkach. Operatory w nawiasach są wykonywane jako pierwsze a następnie ich wynik jest przekazywany poza nawias.

> **Przykład:**
>
> Wybieramy książki Lema, które zostały zarejestrowane przed 1972 rokiem.

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Author_surname = 'Lem' AND Registration_date < '1972-01-01';

### Operator `LIKE`

Umożliwia przeszukiwanie danych tekstowych na podstawie wzorca podanego w klauzuli warunkowej. Może być to zarówno dokładny ciąg poszukiwanych znaków jak i wyrażenie stworzone przy pomocy następujących symboli:

* Symbol `%` zastępuje dowolny ciąg znaków
* Symbol `_` zastępuje dowolny pojedynczy znak

```sqlite
SELECT Kolumna1, Kolumna2, ...
FROM tabela
WHERE Kolumna
LIKE 'wyrażenie';
```

> **Przykład:**
> 
> Wybieramy dane książek, których tytuły rozpoczynają się literą `M`

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Title LIKE 'M%';

### Operator `IN`

Operator `IN` sprawdza czy wartości z kolumny znajdują się w zbiorze podanym zaraz po klauzuli `IN`.

```sqlite
SELECT Kolumna1, Kolumna2, ...
FROM tabela
WHERE Kolumna
IN (element zb., element zb., ...);
```

> **Przykład:**
> 
> Wybieramy dane książek których autorami są `Lem` lub `Mrożek` lub `Gombrowicz`.

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Author_surname IN ('Lem', 'Mrożek', 'Gombrowicz');

### Operator `BETWEEN`

Operator `BETWEEN` sprawdza czy wartości z kolumny znajdują się w przedziale podanym zaraz po klauzuli `BETWEEN`.

```sqlite
SELECT Kolumna1, Kolumna2, ...
FROM tabela
WHERE Kolumna
BETWEEN wartość1 AND wartość2;
```

> **Przykład:**
> 
> Wybieramy dane książek których identyfikator należy do przedziału od `100` do `105`.

In [ ]:
%%sql
SELECT * FROM simple_library WHERE ID BETWEEN '100' AND '105';

### Operator `IS NULL`

Umożliwia wybranie rekordów ze względu na nie-przypisaną wartość w jednej z jego kolumn.

```sqlite
SELECT Kolumna1, Kolumna2, ... FROM tabela WHERE Kolumna IS NULL;
```

## Klauzula `LIMIT`

Klauzula `LIMIT` pozwala ograniczyć liczbę zwracanych wierszy do określonej wartości. Umieszcza się ją na końcu zapytania `SELECT`.

```sql
SELECT Kolumna1, Kolumna2 FROM tabela LIMIT liczba_wierszy;
```

Możliwe jest również określenie, od ile wierszy pominać przy zwracaniu wyników, stosując `OFFSET`.

```sqlite
SELECT Kolumna1, Kolumna2 FROM tabela LIMIT liczba_wierszy
OFFSET liczba_pominiętych_wierszy;
```

> **Przykład:**
>
> Wybieramy dane pierwszej książki zarejestrowanej w XXI wieku.

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Registration_date >= '2001-01-01'
ORDER BY Registration_date ASC LIMIT 1;

## Funkcje grupujące

Są to funkcje umożliwiające wykonanie pożądanych operacji na całych tabelach lub tylko niektórych zbiorach danych, zwracające ogólne wyniki dotyczące np. liczebności czy średnich wartości.

Istnieje kilka agregatów:

* `COUNT()` - zlicza elementy
* `SUM()` - dodaje elementy
* `AVG()`, `MIN()`, `MAX()` - obliczają odpowiednio wartość średnią, najmniejszą i największą

### `COUNT()`

Zwraca liczbę przekazanych wartości. Jest to po prostu liczba elementów w podanym zbiorze

```sqlite
SELECT COUNT(Kolumna) FROM tabela;
```

Może służyć do zliczenia ilości rekordów w tabeli.

> **Przykład:**
> 
> Liczymy ile ksiązek jest w tabeli.

In [ ]:
%%sql
SELECT COUNT(ID) FROM simple_library;

### `SUM()`

Zwraca sumę wartości podanego zbioru

```sqlite
SELECT SUM(Kolumna);
```

Musimy uważać aby argumentem były zawsze liczby lub wartości konwertowalne na liczby.

> **Przykład:**
> 
> Wybieramy sumę wszystkich identyfikatorów pomiędzy `101` a `103`.

In [ ]:
%%sql
SELECT SUM(ID) FROM simple_library WHERE ID BETWEEN '101' AND '103';

### `AVG()`

Zwraca średnią wartość z podanego zbioru

```sqlite
SELECT AVG(Kolumna);
```

Musimy uważać aby argumentem były zawsze liczby lub wartości konwertowalne na liczby.

> **Przykład:**
> 
> Liczymy średni identyfikator w tabeli.

In [ ]:
%%sql
SELECT AVG(ID) FROM simple_library;

### `MIN()`

Zwraca najmniejszą wartość z podanego zbioru

```sqlite
SELECT MIN(Kolumna);
```

Argumentami mogą być liczby, dane tekstowe i daty z czasem.

> **Przykład:**
> 
> Wybieramy datę rejestracji najstarszej książki.

In [ ]:
%%sql
SELECT MIN(Registration_date) FROM simple_library;

### `MAX()`

Zwraca największą wartość z podanego zbioru

```sqlite
SELECT MAX(Kolumna);
```

Argumentami mogą być liczby, dane tekstowe i daty z czasem.

## Klauzula `DISTINCT`

Zwraca w wyniku rekordy bez powtórzeń

```sqlite
SELECT DISTINCT(Kolumna) FROM tabela;
```

> **Przykład:**
>
> Zwracamy w wyniku nazwiska autorów bez powtórzeń.

In [ ]:
%%sql
SELECT DISTINCT Author_surname FROM simple_library;

Może być także **użyte w agregatach**, np.:

```sqlite
SELECT COUNT(DISTINCT Kolumna) FROM tabela;
```

> **Przykład:**
>
> Zwracamy w wyniku liczbę nazwisk autorów bez powtórzeń.

In [ ]:
%%sql
SELECT COUNT(DISTINCT Author_surname) FROM simple_library;

## Klauzula `GROUP BY`

Klauzula `GROUP BY` umożliwia wykonywanie funkcji grupujących na grupie wartości wyodrębnionych na podstawie wartości innej kolumny.

Aby użyć kolumny do grupowania, musimy pamiętać, aby umieścić ją w liście kolumn, zaraz po słowie `SELECT`. W przeciwnym razie nie będzie ona dostępna dla klauzuli grupującej `GROUP BY`.

```sqlite
SELECT SUM(Kolumna1), Kolumna2 FROM tabela GROUP BY Kolumna2;
```

Oblicza agregaty - funkcje obliczane dla zbiorów wierszy.

> **Przykład:**
>
> Chcemy policzyć książki możliwe do wypożyczenia, napisane przez każdego autora

In [ ]:
%%sql
SELECT Author_surname, COUNT(Author_surname) FROM simple_library GROUP BY Author_surname;

Klauzula `HAVING`, znajdująca się zaraz po `GROUP BY`, służy do określania dodatkowych kryteriów przy grupowaniu (jest to odpowiednik warunku `WHERE` w zapytaniach bez funkcji grupujących).

```sqlite
SELECT SUM(Kolumna1), Kolumna2 FROM tabela GROUP BY Kolumna2
HAVING SUM(Kolumna1) > wartość;
```

`HAVING` filtruje rekordy na podstawie wartości agregatów - analogicznie jak `WHERE` filtruje na podstawie wartości pojedynczych pól

> **Przykład:**
>
> Chcemy policzyć książki napisane przez każdego autora, który ma ponad sto książek.

Zapytanie i wynik zapytania bez `HAVING`:

In [ ]:
%%sql
SELECT Author_surname, COUNT(Title) FROM simple_library GROUP BY Author_surname;

Zapytanie i wynik zapytania z `HAVING`:

In [ ]:
%%sql
SELECT Author_surname, COUNT(Title) FROM simple_library GROUP BY Author_surname HAVING COUNT(Title) > 100;

## Tworzenie i usuwanie tabeli w bazie danych

**Tworzenie tabeli w bazie danych** to kluczowa operacja, ponieważ wymaga określenia kolumn oraz ich właściwości, takich jak typ danych, ograniczenia i inne parametry.

Zapytanie składa się z:

* klauzuli `CREATE TABLE`,
* nazwy nowej tabeli,
* listy kolumn wraz z ich szczegółami, oddzielonych przecinkiem `nazwa typ atrybuty`.

**Składnia:**

```sql
CREATE TABLE tabela (
    Kolumna1 typ atrybuty, 
    Kolumna2 typ atrybuty
);
```

**Typowe typy danych w SQLite:**
* `INTEGER` - liczby całkowite, przechowywane dynamicznie w 1-8 bajtach w zależności od wartości,
* `REAL` - liczby zmiennoprzecinkowe,
* `TEXT` - ciągi znaków,
* `BLOB` - dane binarne,
* `NUMERIC` - wartości numeryczne (daty, boolean itp.).

**Typowe atrybuty kolumn:**
* `NOT NULL` - pole nie może mieć wartości `NULL`,
* `PRIMARY KEY` - kolumna stanowi klucz główny tabeli,
* `AUTOINCREMENT` - automatyczne zwiększanie wartości dla klucza głównego (`INTEGER PRIMARY KEY`),
* `CHECK (warunek)` - dodanie ograniczenia sprawdzającego,
* `DEFAULT wartość` - domyślna wartość dla kolumny.

**Usuwanie tabeli** - można całkowicie usunąć tabelę z bazy danych wraz z danymi w niej zawartymi używając polecenia `DROP TABLE` nazwa tabeli

```sqlite
DROP TABLE nazwa_tabeli;
```

In [ ]:
%%sql
SELECT name FROM sqlite_master;

In [ ]:
%%sql
SELECT * FROM simple_library;

In [ ]:
%%sql
DROP TABLE simple_library;

In [ ]:
%%sql
SELECT name FROM sqlite_master;

In [ ]:
%%sql
SELECT * FROM simple_library;

> **Przykład:**
> 
> Tworzenie tabeli `simple_library`.

In [ ]:
%%sql
CREATE TABLE simple_library (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Title TEXT NOT NULL,
    Author_surname TEXT NOT NULL,
    Author_name TEXT NOT NULL,
    Registration_date TEXT NOT NULL CHECK(Registration_date LIKE '____-__-__')
);

In [ ]:
%%sql
SELECT name FROM sqlite_master;

In [ ]:
%%sql
SELECT * FROM simple_library;

In [ ]:
!cp simple_library_original.db simple_library.db

Tabelę można również tylko opróżnić, czyli usunąć wszystkie dane, ale pozostawić jej strukturę. Stosuje się różne polecenia:

* `DELETE FROM nazwa_tabeli;` - usuwa wszystkie rekordy, ale nie resetuje `AUTO_INCREMENT`
* `DELETE FROM nazwa_tabeli; VACUUM;` - usuwa dane i odzyskuje miejsce na dysku, ale nadal nie resetuje `AUTO_INCREMENT`
* `DELETE FROM nazwa_tabeli; UPDATE sqlite_sequence SET seq = 0 WHERE name = 'nazwa_tabeli';` – usuwa dane i resetuje `AUTO_INCREMENT`

In [ ]:
%%sql
SELECT name FROM sqlite_master;

In [ ]:
%%sql
SELECT * FROM simple_library;

In [ ]:
%%sql
DELETE FROM simple_library;

In [ ]:
%%sql
SELECT name FROM sqlite_master;

In [ ]:
%%sql
SELECT * FROM simple_library;

In [ ]:
!cp simple_library_original.db simple_library.db

### Bezpieczeństwo

Ponieważ SQL jest językiem interpretowanym, istnieje możliwość nadużyć w przypadku konstruowania zapytań z wykorzystaniem parametrów pochodzących z zewnątrz aplikacji. 

Szczególnie podatne na ten typ ataku są tworzone dynamicznie w oparciu o SQL-ową bazę danych serwisy internetowe. 

Jeśli twórca aplikacji nie zadba o sprawdzenie poprawności (tzw. **walidację**) danych wejściowych stanowiących część zapytania, atakujący może dopisać do zapytania ("wstrzyknąć") dodatkowe komendy lub zmienić ich sposób działania. 

Atak taki nosi nazwę **SQL injection** (wstrzyknięcie kodu za pomocą SQL).

![](https://niebezpiecznik.pl/wp-content/uploads/2009/10/radar-403x350.jpg)

![](https://niebezpiecznik.pl/wp-content/uploads/2009/10/radar2-450x265.jpg)

![](https://niebezpiecznik.pl/wp-content/uploads/2009/10/radar3-418x350.jpg)