# Struktura zapytań SQL i operacje na danych - ćwiczenia

_Mikołaj Leszczuk_

In [ ]:
!cp simple_library_original.db simple_library.db
%load_ext sql
%sql sqlite:///simple_library.db?mode=rw

## Lista identyfikatorów i dat rejestracji książek

### Ćwiczenie

Wybierz wszystkie identyfikatory i daty rejestracji książek.

### Rozwiązanie

In [ ]:
%%sql
SELECT ID, Registration_date FROM simple_library;

## Usunięcie książek zarejestrowanych przed 1972 rokiem

### Ćwiczenie

Usuń wszystkie książki, których rok rejestracji jest starszy niż `1972`.

### Rozwiązanie

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Registration_date <= '1971-12-31';

In [ ]:
%%sql
DELETE FROM simple_library WHERE Registration_date <= '1971-12-31';

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Registration_date <= '1971-12-31';

In [ ]:
!cp simple_library_original.db simple_library.db

## Dodawanie nowego rekordu do tabeli – `INSERT INTO`

### Ćwiczenie

Dodaj do tabeli nową książkę: 'Król' Szczepana Twardocha, zarejestrowana 28 września 2016 roku, identyfikator: 1001.

### Rozwiązanie

In [ ]:
%%sql
INSERT INTO simple_library VALUES ('1001', 'Król', 'Twardoch', 'Szczepan', '2016-09-28');

In [ ]:
%%sql
SELECT * FROM simple_library;

In [ ]:
!cp simple_library_original.db simple_library.db

## Wyszukiwanie książek zarejestrowanych w latach 80.

### Ćwiczenie

Wybierz wszystkie dane książek z tabeli, które zarejestrowane zostały w latach 80. Użyj operatora logicznego.

### Rozwiązanie

In [ ]:
%%sql
SELECT * FROM simple_library
WHERE Registration_date >= '1980-01-01' AND Registration_date <= '1989-12-31';

## Wyszukiwanie książek, których nazwiska autorów zawierają literę “e”

### Ćwiczenie

Wybierz książki z tabeli, których nazwiska autorów zawierają literę “`e`”.

### Rozwiązanie

In [ ]:
%%sql
SELECT * FROM simple_library WHERE Author_surname LIKE '%e%';

## Wyszukiwanie książek o określonych identyfikatorach

### Ćwiczenie

Wybierz dane książek z tabeli, których identyfikator to `300`, `400`, `500` lub `600`.

### Rozwiązanie

In [ ]:
%%sql
SELECT * FROM simple_library WHERE ID IN ('300', '400', '500', '600');

## Paginacja wyników - wybieranie drugiej dziesiątki rekordów

### Ćwiczenie

Wybierz dane drugiej dziesiątki książek.

### Rozwiązanie

In [ ]:
%%sql
SELECT * FROM simple_library LIMIT 10 OFFSET 10;

## Zliczanie książek autorstwa Stanisława Lema

### Ćwiczenie

Znajdź liczbę wszystkich książek Lema.

### Rozwiązanie

In [ ]:
%%sql
SELECT COUNT(Author_surname) FROM simple_library WHERE Author_surname = 'Lem';

## Znajdź pierwszą książkę w kolejności alfabetycznej

### Ćwiczenie

Napisz zapytanie SQL, które zwróci tytuł książki znajdującej się jako pierwsza w porządku alfabetycznym w tabeli `simple_library`.

### Rozwiązanie

In [ ]:
%%sql
SELECT MIN(Title) FROM simple_library;

## Zlicz liczbę tytułów przypisanych do każdego autora

### Ćwiczenie

Podaj łączną liczbę tytułów każdego autora.

### Rozwiązanie

In [ ]:
%%sql
SELECT Author_surname, COUNT(DISTINCT Title) FROM simple_library GROUP BY Author_surname;

## Znajdź często powtarzające się tytuły książek

### Ćwiczenie

Podaj tytuły książek wraz z sumaryczną liczbą ich wystąpień, ale tylko takich, które występują przynajmniej dwadzieścia razy.

### Rozwiązanie

In [ ]:
%%sql
SELECT Title, COUNT(Title) FROM simple_library GROUP BY Title HAVING COUNT(Title) >= 20;

## Znajdź autorów z określoną liczbą unikalnych tytułów

### Ćwiczenie

Wyszukaj autorów, którzy mają w bazie dokładnie 4, 5 lub 7 unikalnych tytułów książek.

### Rozwiązanie

In [ ]:
%%sql
SELECT Author_surname, COUNT(DISTINCT Title) FROM simple_library GROUP BY Author_surname
HAVING COUNT(DISTINCT Title) IN (4, 5, 7);

## Zadania utrwalające

[`01c - Operacje na danych i struktura zapytań SQL - zadania.md`](https://github.com/miklesz/SQL/blob/master/01c%20-%20Operacje%20na%20danych%20i%20struktura%20zapytań%20SQL%20-%20zadania.md)