# Zaawansowane operacje w SQL - stringi, daty, aliasy, joins i podzapytania - ćwiczenia

_Mikołaj Leszczuk_

## Unikalna lista autorów

In [ ]:
!cp simple_library_original.db simple_library.db
%load_ext sql
%sql sqlite:///simple_library.db?mode=rw

### Ćwiczenie

Wyświetl bez powtórzeń imię i nazwisko oddzielone spacją `(' ')`.

### Rozwiązanie

In [ ]:
%%sql
SELECT DISTINCT Author_name || ' ' || Author_surname FROM simple_library;

## Imię małymi, nazwisko wielkimi literami

### Ćwiczenie

Wyświetl bez powtórzeń imię małymi literami i nazwisko dużymi literami.

### Rozwiązanie

In [ ]:
%%sql
SELECT DISTINCT LOWER(author_name), UPPER(author_surname) FROM simple_library;

## Wyszukiwanie książek dodanych na początku miesiąca

### Ćwiczenie

Wybierz książki, których dzień dodania należy do przedziału od `01` do `10`.

### Rozwiązanie

In [ ]:
%%sql
SELECT * FROM simple_library WHERE STRFTIME('%d', Registration_date) BETWEEN '01' AND '10';

## Oblicz liczbę dni między dwiema ważnymi datami w historii Polski

### Ćwiczenie

Oblicz liczbę dni, które upłynęły między **odzyskaniem niepodległości przez Polskę (11 listopada 1918)** a **wejściem Polski do Unii Europejskiej (1 maja 2004)**.

**Podpowiedź:** Aby uzyskać liczbę dni, odejmij w zapytaniu wartość `JULIANDAY()` dla starszej daty od wartości `JULIANDAY()` dla nowszej daty.

### Rozwiązanie

In [ ]:
%%sql
SELECT JULIANDAY('2004-05-01') - JULIANDAY('1918-11-11');

## Wyszukiwanie książek konkretnego autora

In [ ]:
!cp library_original.db library.db
%sql sqlite:///library.db?mode=rw

### Ćwiczenie

Znajdź nazwisko i tytuły książek napisanych przez autora o identyfikatorze `'3'`.

### Rozwiązanie

In [ ]:
%%sql
SELECT authors.Surname, titles.Title FROM authors JOIN titles ON authors.ID = titles.Author_ID
WHERE titles.Author_ID = '3';

## Wyszukiwanie książek autorów o imieniu na literę `‘S’`

### Ćwiczenie

Znajdź imiona, nazwiska i tytuły książek napisanych przez autorów o imieniu rozpoczynającym się na `'S'`.

### Rozwiązanie

In [ ]:
%%sql
SELECT authors.Name, authors.Surname, titles.Title FROM authors JOIN titles
ON authors.ID = titles.Author_ID WHERE authors.Name LIKE 'S%';

## Wyszukiwanie książek Lema za pomocą podzapytania

### Ćwiczenie

Wybierz przy pomocy podzapytania tytuły wszystkich książek Lema.

### Rozwiązanie

In [ ]:
%%sql
SELECT Title FROM titles WHERE Author_ID IN (
    SELECT ID FROM authors WHERE Surname = 'Lem'
);

## Zadania utrwalające

[`02c - Zaawansowane operacje w SQL – stringi, daty, aliasy, joins i podzapytania - zadania.md`](https://github.com/miklesz/SQL/blob/master/02c%20-%20Zaawansowane%20operacje%20w%20SQL%20–%20stringi%2C%20daty%2C%20aliasy%2C%20joins%20i%20podzapytania%20-%20zadania.md)