![](https://media-exp1.licdn.com/dms/image/C4D0BAQHUQWhqV2rl1g/company-logo_200_200/0/1550502396615?e=2159024400&v=beta&t=_mM0D3cbDu8DL3MUvcb75g65zJ-c4Wd0nrguJGoW_gE)

# SQL - Wstęp

_Mikołaj Leszczuk_

## Konspekt

* Wstęp do kursu języka SQL
* Schemat (diagram) bazy danych
* Język SQL

## Wstęp do kursu języka SQL

### Jak podzielony jest kurs

1. Wstęp – o kursie, schemat bazy użytej w przykładach, ogólny opis języka SQL
1. Poziom początkujący – początkujący poziom trudności zagadnień i zadań
1. Poziom podstawowy – podstawowy poziom trudności zagadnień i zadań
1. Stringi i joiny
1. Interfejs Pythona dla baz danych SQLite
1. (Poziom zaawansowany – podzapytania – zaawansowany poziom trudności zagadnień i zadań)

## Schemat (diagram) bazy danych

W celu przygotowania przykładów oraz zadań stworzona została prosta baza danych na wzór sklepu internetowego, który jest doskonałym przykładem użytecznego wykorzystania bazy w aplikacjach www.

Składa się ona z 4 tabel, w których zapisane są:
1. **`Product`** (Produkty) – identyfikator, nazwa, cena, dostępna liczba, data dodania
2. **`Customer`** (Klienci) – identyfikator, imię, miejsce zamieszkania, data dodania
3. **`Orders`** (Zamówienia) - identyfikator, identyfikator klienta który złożył zamówienie, całkowita wartość zamówienia (nie będzie używana)
4. **`Order_product`** (Przypisanie zamówienie-produkt) – identyfikator zamówienia, identyfikator produktu, liczba tych produktów

Oto wizualny diagram bazy danych:

![](https://raw.githubusercontent.com/miklesz/Courses/main/SQL/dbdiagram.png)

**PK** – Primary Key (klucz główny) - kolumna (kolumny) której wartości jednoznacznie identyfikują wiersze tabeli.

**Tabele wypełnione zostały danymi.**

Tabela **`Product`**:

| id |   name  | price | amount |    date    |
|:--:|:-------:|:-----:|:------:|:----------:|
| 5  | Spodnie | 100   | 5      | 2011-02-01 |
| 6  | Bluza   | 60    | 2      | 2011-02-12 |

Tabela **`Customer`**:

| id |    name   |   city   |    date    |
|:--:|:---------:|:--------:|:----------:|
| 1  | Adam      | Lublin   | 2011-02-05 |
| 2  | Monika    | Gdynia   | 2011-02-19 |
| 3  | Natalia   | Zakopane | 2011-02-23 |
| 4  | Katarzyna | Lublin   | 2011-02-23 |
| 5  | Marcin    | Warszawa | 2011-03-21 |

Tabela **`Order_product`**:

| order_id | product_id | amount |
|:--------:|:----------:|:------:|
| 1        | 2          | 2      |
| 1        | 4          | 1      |
| 2        | 6          | 1      |
| 2        | 8          | 1      |
| 2        | 5          | 2      |
| 3        | 5          | 1      |
| 3        | 7          | 2      |
| 4        | 5          | 1      |
| 4        | 2          | 1      |
| 4        | 7          | 2      |
| 5        | 4          | 1      |
| 6        | 6          | 1      |

## Język SQL

**Język SQL** to strukturalny język zapytań (ang. _Structured Query Language_ wym. /ɛskjuːˈɛl/).

Jest to bardzo powszechny i standaryzowany język dostępu do systemów zarządzania relacyjnymi bazami danych.

Służy do tworzenia i modyfikowania baz danych oraz do pobierania i zapisywania danych z i do bazy.

Decyzję o sposobie przechowywania i pobrania danych pozostawia się **systemowi zarządzania bazą danych** (ang. _Database Management System_, DBMS).

### Historia

SQL został opracowany w latach 70. w firmie **IBM**. Stał się **standardem** w komunikacji z **serwerami** relacyjnych **baz danych**.

![](https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg)

Wiele współczesnych systemów relacyjnych baz danych używa do komunikacji z użytkownikiem SQL, dlatego potocznie mówi się, że korzystanie z relacyjnych baz danych to korzystanie z SQL-a.

Pierwszą firmą, która włączyła SQL do swojego produktu komercyjnego, był **Oracle**.

![](https://upload.wikimedia.org/wikipedia/commons/5/50/Oracle_logo.svg)

Dalsze wprowadzanie SQL-a, w produktach innych firm, wiązało się nierozłącznie z wprowadzaniem modyfikacji pierwotnego języka. 

Wkrótce utrzymanie dalszej jednolitości języka wymagało wprowadzenia standardu.

Pierwotną nazwą języka miał być **_SEQUEL_**, jednakże okazało się, że nazwa ta była już zastrzeżona przez brytyjską wytwórnię lotniczą **Hawker Siddeley**.

![](https://upload.wikimedia.org/wikipedia/en/6/69/Hawker_Siddeley.png)

**SQL** rozpoznawany jest przez wszystkie najpopularniejsze DBMS takie jak np. SQLite, MySQL, PostgreSQL, Microsoft SQL Server, Oracle, DB2.

Język SQL w przeciwieństwie do języków programowania nie służy do tworzenia programów, ale tylko do operacji na danych zawartych w bazie. Jest więc nazywany pod-językiem danych.

### Składnia SQL

Użycie SQL, zgodnie z jego nazwą, polega na zadawaniu zapytań (query) do bazy danych i przekazywaniu użytkownikowi żądanych danych. Zapytania można zaliczyć do jednego z czterech głównych podzbiorów:

* **SQL DML** (ang. _Data Manipulation Language_ – „język manipulacji danymi”),
* **SQL DDL** (ang. _Data Definition Language_ – „język definicji danych”),
* **SQL DCL** (ang. _Data Control Language_ – „język kontroli nad danymi”).
* **SQL DQL** (ang. _Data Query Language_ – „język definiowania zapytań”).

Instrukcje SQL w obrębie zapytań tradycyjnie zapisywane są wielkimi literami, jednak nie jest to wymóg. Każde zapytanie w SQL-u musi kończyć się znakiem średnika (`;`).

Dodatkowo, niektóre programy do łączenia się z silnikiem bazy danych (np. **`psql`** w przypadku PostgreSQL), używają swoich własnych instrukcji, spoza standardu SQL, które służą np. do połączenia się z bazą, wyświetlenia dokumentacji itp.

![](https://wikimedia.org/api/rest_v1/media/math/render/svg/b83ad563285f7b0ebb325226d91f25ca0bffa7cd)

### Dobre zwyczaje w posługiwaniu się językiem SQL i bazami danych

![](https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Good_Manners.JPG/329px-Good_Manners.JPG)

Na początku pracy z bazą danych oraz językiem, warto wybrać sposób w jaki będzie się zapisywać nazwy tabeli, zapytania, warunki itd.

Zasady przyjęte w tym kursie to m.in.:

* nazwy tabeli zapisywane są z wielkiej litery (w zapytaniach z małej) oraz składają się tylko z liter i znaku “`_`”
* słowa kluczowe w zapytaniach są pisane wielkimi literami w odróżnieniu od np. nazw kolumn czy warunków

Szczególnie drugi z powyższych przykładów jest dobrym zwyczajem w pisaniu zapytań przestrzeganym przez większość osób posługujących się SQL-em.

Warto już na początku wypracować pewne nawyki, aby później móc z automatyzmem i łatwością odczytywać swoje zapytania i tworzyć nowe.

### SQLite

![](https://upload.wikimedia.org/wikipedia/commons/3/38/SQLite370.svg)

**SQLite** – **DBMS** oraz **biblioteka C implementująca** taki system, obsługująca język **SQL**. Została stworzona przez **Richarda Hippa** i jest dostępna na **licencji public domain**. Projekt został rozpoczęty w roku 2000.

SQLite posiada również **API** do innych niż C **języków programowania**, a mianowicie: **ActionScript**, **Perl**, **PHP**, **Ruby**, **C++**, **Delphi**, **Python**, **Java**, **Tcl**, **Visual Basic**, platformy **.NET** i wielu innych; a także interfejs **powłokowy**.

Zawartość bazy danych przetrzymywana jest w jednym **pliku** (do 140 **TB**).

### MySQL

![](https://upload.wikimedia.org/wikipedia/en/d/dd/MySQL_logo.svg)

**MySQL (maɪɛskjuːˈɛl) – wolnodostępny, otwartoźródłowy system zarządzania relacyjnymi bazami danych.**

MySQL rozwijany jest przez firmę **Oracle**. Wcześniej przez większość czasu jego tworzeniem zajmowała się **szwedzka** firma **MySQL AB**. MySQL AB została kupiona 16 stycznia 2008 roku przez **Sun Microsystems**, a ten 27 stycznia 2010 roku przez Oracle. W międzyczasie Monty Widenius (współtwórca MySQL) stworzył **MariaDB – forka** (alternatywną wersję) opartego na licencji GPL. MariaDB jest oparta na tym samym kodzie bazowym co MySQL i dąży do utrzymania kompatybilności z jej poprzednimi wersjami.

### PostgreSQL

![](https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg)

**PostgreSQL** (/poːst ɡɹɛs kjuː ɛl/), także **Postgres** – obok **MySQL** i **SQLite**, jeden z trzech najpopularniejszych **otwartych** systemów zarządzania **relacyjnymi bazami danych**. Początkowo opracowywany na **Uniwersytecie Kalifornijskim w Berkeley** i opublikowany pod nazwą Ingres. W miarę rozwoju i zwiększania funkcjonalności, **baza danych** otrzymała nazwy Postgres95 i ostatecznie PostgreSQL, aby upamiętnić pierwowzór oraz zaznaczyć zgodność ze **standardem SQL**. Aktualnie baza implementuje większość standardu SQL:2011.

Większość dystrybucji Linuksa zawiera pakiety umożliwiające instalację bazy PostgreSQL. **MacOS**, od wersji Lion, posiada pakiety instalacyjne bazy w wersji serwerowej systemu operacyjnego oraz narzędzia klienckie w wersji desktopowej.

### Bezpieczeństwo

Ponieważ SQL jest językiem interpretowanym, istnieje możliwość nadużyć w przypadku konstruowania zapytań z wykorzystaniem parametrów pochodzących z zewnątrz aplikacji. 

Szczególnie podatne na ten typ ataku są tworzone dynamicznie w oparciu o SQL-ową bazę danych serwisy internetowe. 

Jeśli twórca aplikacji nie zadba o sprawdzenie poprawności (tzw. **walidację**) danych wejściowych stanowiących część zapytania, atakujący może dopisać do zapytania („wstrzyknąć”) dodatkowe komendy lub zmienić ich sposób działania. 

Atak taki nosi nazwę **SQL injection** (wstrzyknięcie kodu za pomocą SQL).